<h1>Extract coordinates</h1>
<p>Select video</p>

<%= form_with model: @video do |form| %>
  <%= form.file_field :video_file %>
  <%= form.submit %>
<% end %>

<br>

<h1>Videos processed</h1>
<ul>
<% @videos_processed.each do |video| %>
  <li><%= "#{video.name} - #{video.size}" %></li>
<% end %>
</ul>
