<h1>Images and Coordinates for <%= @video.summary %></h1>

<%= link_to 'Go Back', videos_path %>

<ul>
<% @video.images.each do |image| %>
  <li>
    <div>
      <%= link_to image.name, image_path(image) %>
      - Coordinates: <%= "#{image.latitude}, #{image.longitude}" %>
    </div>
  </li>
<% end %>
</ul>
